* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Jumper";
    src: url(../../06_FONTS/jumper_3/Jumper-BlackItalic.ttf);
}

:root {
    --gymBlack: #191919;
    --gymBlue: #0042fc;
    --gymYellow: #ffc74d;
}

// GLOBAL MIXINS //

@mixin classicTransi {
    transition: all 0.3s ease-in-out;
}

// QUESTIONNAIRE

main {
    background-color: var(--gymBlack);
}

#container {
    width: 90%;
    min-height: 100vh;
    height: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 2em;

    gap: 10px;

    h2 {
        font-family: "jumper";
        font-size: 50px;
        color: var(--gymYellow);
        text-align: center;
    }

    button {

        font-size: 18px;
        font-weight: 700;
        line-height: 2em;

        border: none;
        outline: none;

        cursor: pointer;

        padding: 0em 1em 0em 1em;

        @include classicTransi;
    }

    #slider {
        flex-direction: row;
        width: 100%;
        background-color: white;
        overflow: hidden;

        scroll-behavior: smooth;

        height: fit-content;

        &::-webkit-scrollbar {
            display: none;
        }

        h3 {
            font-size: 30px;
        }

        li {
            min-width: 100%;
            height: fit-content;
            align-items: center;
            justify-content: center;
            padding-top: 2em;
            padding-bottom: 2em;
            gap: 20px;

            .questions {

                height: fit-content;
                width: 100%;
                align-items: center;
                justify-content: center;
                gap: 30px;

                flex-direction: row;
                flex-wrap: wrap;

                label {
                    background-color: rgb(32, 32, 32);
                    min-height: 250px;
                    max-width: 150px;
                    min-width: 150px;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    padding-left: 1em;
                    padding-right: 1em;

                    font-weight: 700;
                    font-size: 20px;

                    text-align: center;

                    &.checked {
                        background-color: #0042fc;
                        transform: scale(1.05);
                    }

                    @include classicTransi;
                }
            }
        }
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding: 1em;
    }

    #buttonGenerate {
        background-color: var(--gymBlue);
        color: white;
    }
}